<div class="row p-5">
    <div class="col-7 justify-content-center align-items-center">
        <h1>Framework Angular</h1>
        <p class="fs-3">Angular es una plataforma y un framework para crear aplicaciones de una sola pagina en el ado del ciente usando HTML y TypeScript. Angular está escrito en TypeScript. Implementa la funcionalidad básica y opcional como un conjunto de bibliotecas TypeScript que importas en tus aplicaciones</p>
    </div>
    <div class="col-5 d-flex justify-content-center align-items-center">
        <img src="//upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/512px-Angular_full_color_logo.svg.png" class="img-fluid maximo" alt="logo">
    </div>
</div>